
.c- {
  &-schema {
    &-background {
      color: $colour-schema-1-background;
    }

    &-middleground {
      color: $colour-schema-2-middleground;
    }

    &-base {
      color: $colour-schema-3-base;
    }

    &-accent {
      color: $colour-schema-4-accent;
    }

    &-highlight {
      color: $colour-schema-5-highlight;
    }

    &-foreground {
      color: $colour-schema-6-foreground
    }
  }

  &-tfc-blue {
    color: $color-travel-blue;
  }

  &-tfc-blue-light {
    color: $color-travel-light;
  }
}
