// style elements only when focused via tab
// this will prevent ios and osx from keeping the focus
// style on elements that have been tapped / clicked
// http://stackoverflow.com/questions/5653332/differentiate-between-focus-event-triggered-by-keyboard-mouse
//
// it's important to style on :not selectors, so that
// non-js browsers will always show focus styles, not never
@mixin focus-onkeypress {
  .layout--is-keypressed &:focus,
  .no-js &:focus {
    @content;
  }
}

@mixin focus-outline-default($color: $color-black, $width: 2px, $offset: 3px) {
  outline: #{$width} solid #{$color};
  outline-offset: $offset;
}

@mixin focus-outline($color: $color-black, $width: 2px, $offset: 3px) {
  @include focus-onkeypress {
    @include focus-outline-default($color, $width, $offset);
  }
}

@mixin no-focus-outline {
  @include focus-onkeypress {
    outline: 0;
    outline-offset: 0;
  }
}
